<div id="header-block"  class="header-block header-blog-all-block" style="background-image :url('{{ 'blog-all-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
     <h1 class="site-label">a Journey Home</h1>
    <p class="title-description">blog</p>
  </div>
</div>
<div class="menu-block">
  <div class="container">
    <div class="row">
      <ul class="menu">
        {% if tags.size > 0 %}
        <div class="tags">
          <li class="item-menu"><a href="/blog" class="tag" kjb-settings-id="blog_tag_all">{{ settings.blog_tag_all }}</a></li>
          {% for tag in tags %}
          {% if tags.current == tag %}
          <li class="item-menu"> <a href="{{ current_site.url }}/blog?tag={{ tag }}" class="tag active">{{ tag }}</a></li>
          {% else %}
          <li class="item-menu"> <a href="{{ current_site.url }}/blog?tag={{ tag }}" class="tag">{{ tag }}</a></li>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% include "blog_listings" %}
{% include "ready_form_block" %}