<div id="header-block"  class="header-block  header-blog-yawanawa-block" style="background-image :url('{{ 'blog-yawanawa-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">Dennis’ Journey to the Yawanawa Indians</h1>
    <p class="title-description">blog</p>
  </div>
</div>
<div class="menu-block">
  <div class="container">
    <div class="row">
      <ul class="menu">
        {% if tags.size > 0 %}
        <div class="tags">
          <li class="item-menu"><a href="/blog" class="tag" kjb-settings-id="blog_tag_all">{{ settings.blog_tag_all }}</a></li>
          {% for tag in tags %}
          {% if tags.current == tag %}
          <li class="item-menu"> <a href="{{ current_site.url }}/blog?tag={{ tag }}" class="tag active">{{ tag }}</a></li>
          {% else %}
          <li class="item-menu"> <a href="{{ current_site.url }}/blog?tag={{ tag }}" class="tag">{{ tag }}</a></li>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<div class="blog-single-block block-scroll default">
  <div class="container container-single">
    <div class="row">
      <p class="title">{{ blog_post.title }}</p>
      <div class="date"><span>{{ blog_post.created_at | date: "%b %d, 20%y" }}</span></div>
      {% comment %}
      <div class="navigation-block">
        <a class="slide-btn slide-previous" href="#">
              <span class="icon-svg">
                <svg class="icon icon-previous">
                  <use xlink:href="img/icon/sprite.svg#previous"></use>
                </svg>
              </span>
        </a>
        <a class="slide-btn slide-next" href="#">
              <span class="icon-svg">
                <svg class="icon icon-next">
                  <use xlink:href="img/icon/sprite.svg#next"></use>
                </svg>
              </span>
        </a>
      </div>
      {% endcomment %}
      {{ blog_post.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="ready-form ready-form-block ready-form-block-color">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Want to read more?</h2>
      <div class="desc"><p>Subscribe to our mailing list, and hear about the latest posts. </p></div>
      <form class="yawanawa-form jotform-form" action="https://submit.jotform.ca/submit/70726609141252/" method="post" name="form_70726609141252" id="70726609141252" accept-charset="utf-8"> <input type="hidden" name="formID" value="70726609141252" />
        <div class="form-item-pair">
          <div id="cid_5" class="form-item">
            <input type="text" id="input_5" name="q5_input5" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Your Name" data-component="textbox" />
          </div>
          <div id="cid_4" class="form-item">
            <input type="email" id="input_4" name="q4_input4" class="form-textbox validate[Email]" size="30" value="" placeholder="Your Email" data-component="email" />
          </div>
        </div>
        <div id="cid_2" class="form-actions">
          <button id="input_2" type="submit" class="btn form-submit-button" data-component="button"> Sign Up </button>
        </div>
        <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70726609141252" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70726609141252-70726609141252"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
    </div>
  </div>
</div>
{% if settings.show_latest_blog %}
  {% if current_site.blog.posts_published.size > 0 %}
    <div class="blogs-block">
      <div class="container-fluid container-block">
        <div class="row">
        {% for blog_post in current_site.blog.posts_published limit: 6 %}
          <div class="content-block col-lg-4 col-xs-12">
          <div class="item-block">
            <div class="img-block">
              <a href="{{ blog_post.url }}">
                {% if blog_post.image_url %}
                <img class="img-responsive" src="{{ blog_post.image_url }}">
                {% else %}
                <img class="img-responsive" src="{{ 'null_image.png' | asset_url }}">
                {% endif %}
              </a>
            </div>
            <div class="text-block">
              <div class="title-category">
                <a href="{{ current_site.url }}/blog?tag={{ blog_post.tags | join: ', ' }}">{{ blog_post.tags | join: ', ' }}</a>
              </div>
              <div class="title">
                <a href="{{ blog_post.url }}">{{ blog_post.title | truncate: 70 }}</a>
              </div>
              <div class="desc">
                <p>{{ blog_post.content | strip_html | truncate: 250 }}</p>
              </div>
              <div class="date">
                <span>{{ blog_post.created_at | date: "%d" }} {{ blog_post.created_at | date: "%B" }}, {{ blog_post.created_at | date: "20%y" }}</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        <div class="row">
          <div class="link-more-block col-lg-12">
            <a href="/blog" class="btn link-more">See more posts</a>
          </div>
        </div>
    </div>
  {% endif %}
{% endif %}