{% layout 'auth' %}
<div id="header-block" class="header-login-block" style="background-image :url('{{ 'blog-all-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">Login</h1>
  </div>
</div>
<div class="intro-login-block auth">
  <div class="auth-wrapper">
    <div class="auth-box">
      <div class="title-block">
        <h1 kjb-settings-id="language_sign_in_to_your_account">{{ settings.language_sign_in_to_your_account }}</h1>
      </div>
      {% form 'new_member_session', current_site_user %}
      {% if form.notice %}
      <div class="notice">{{ form.notice }}</div>
      {% endif %}
      {% if form.errors.messages['form'] %}
      <div class="notice">{{ form.errors.messages['form'] }}</div>
      {% endif %}
      <input spellcheck="false" autocorrect="off" autofocus="autofocus" type="text" name="member[email]" id="member_email" value="{{form.email}}" placeholder="{{ settings.language_email }}"/>
      <input type="password" name="member[password]" id="member_password" placeholder="{{ settings.language_password }}"/>
      <input class="boolean optional" type="checkbox" name="member[remember_me]" id="member_remember_me" />
      <label kjb-settings-id="language_remember_me">
        <span class="ui"></span>
        {{ settings.language_remember_me }}
      </label>
      <input kjb-settings-id="language_sign_in" class="btn btn-login" type="submit" name="commit" value="{{ settings.language_sign_in }}">
      {% endform %}
      <a kjb-settings-id="language_forgot_your_password" class="link" href="/password/new">{{ settings.language_forgot_your_password }}</a>
    </div>
  </div>
</div>
