<div class="blog-all-blocks block-scroll default">
  <div class="container-fluid container-block">
    <div class="row">
      {% paginate blog_posts by 12 %}
      {% for blog_post in paginate.collection %}
      <div class="content-block col-lg-4 col-xs-12">
        <div class="item-block">
          {{ blog_post.id }}
          <div class="img-block">
            <a href="{{ blog_post.url }}">
              {% if blog_post.image_url %}
              <img class="img-responsive" src="{{ blog_post.image_url }}">
              {% else %}
              <img class="img-responsive" src="{{ 'null_image.png' | asset_url }}">
              {% endif %}
            </a>
          </div>
          <div class="text-block">
            <div class="title-category">
              <a href="{{ current_site.url }}/blog?tag={{ blog_post.tags | join: ', ' }}">{{ blog_post.tags | join: ', ' }}</a>
            </div>
            <div class="title">
              <a href="{{ blog_post.url }}">{{ blog_post.title | truncate: 70 }}</a>
            </div>
            <div class="desc">
              <p>{{ blog_post.content | strip_html | truncate: 250 }}</p>
            </div>
            <div class="date">
              <span>{{ blog_post.created_at | date: "%d" }} {{ blog_post.created_at | date: "%B" }}, {{ blog_post.created_at | date: "20%y" }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
      {% include "pagination" %}
      {% endif %}
      {% endpaginate %}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>