<!--<script type='text/javascript' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>-->
<meta name="google-site-verification" content="FvV01kjzE93tptA0nRUr-HEJqnsHkhIrWHsBEAB0foY" />
<link
        href="https://kajabi-storefronts-production.global.ssl.fastly.net/kajabi-storefronts-production/themes/113880/assets/custom_site_styles.css"
        rel="stylesheet"
        type="text/css"
>
<header class="header">
    <div class="container">
        {% if settings.show_header_menu %}
        <ul>
            {% for link in current_site.link_lists[settings.header_menu].links %}
                {% if link.name == 'Offerings' %}
                <li>
                    <span>{{ link.name }}</span>
                    <ul class='offerings'>
                        {% for link in current_site.link_lists['7hwGBTFi'].links %}
                        <li><a href="{{ link.url }}">{{link.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% elsif link.name == 'Retreats' %}
                <li>
                    <span>{{ link.name }}</span>
                    <ul class='retreats'>
                        {% for link in current_site.link_lists['amG2rL2m'].links %}
                        <li><a href="{{ link.url }}" >{{link.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li><a href="#">{{ link.name }}</a> </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <ul>
            {% for link in current_site.link_lists['5d4pn9jc'].links %}
            <li><a href="{{ link.url }}" >{{link.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="burger" style="background-image :url('{{ 'burger.png' | asset_url | img_tag }}')"></div>
</header>
