{% if page.id == 37162 %}
<div id="header-block" class="header-block header-terms-block" style="background-image :url('{{ 'terms-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 36129 %}
<div id="header-block"  class="header-block header-personal-block" style="background-image :url('{{ 'personal-consultations-bg-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
    {% include "scroll_bottom_block" %}
  </div>
</div>
{% elsif page.id == 46908 %}
<div id="header-block"  class="header-block header-soma-retreat-block" style="background-image :url('{{ 'soma-retreat-bg.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
    <p class="title-description">A Journey in Tepoztlán, Mexico</p>
    {% include "scroll_bottom_block" %}
  </div>
</div>
{% elsif page.id == 46909 %}
<div id="header-block" class="header-block header-yawa-retreat-block" style="background-image :url('{{ 'yawa-retreat-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
    <p class="title-description">Amazon, Brazil</p>
    {% include "scroll_bottom_block" %}
  </div>
</div>
{% elsif page.id == 28920 %}
<div id="header-block" class="header-block header-connect-block" style="background-image :url('{{ 'connect-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 28532 %}
<div id="header-block" class="header-block header-terms-block" style="background-image :url('{{ 'terms-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 28533 %}
<div id="header-block" class="header-block header-online-policy-block" style="background-image :url('{{ 'online-privat-policy-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 53265 %}
<div id="header-block" class="header-block header-mission-block" style="background-image :url('{{ 'mission-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 53266 %}
<div id="header-block" class="header-block header-meds-block"  style="background-image :url('{{ 'meds-to-avoid-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 55677 %}
<div id="header-block" class="header-block header-private-ceramonies-block" style="background-image :url('{{ 'private-ceremonies-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
    {% include "scroll_bottom_block" %}
  </div>
</div>
{% elsif page.id == 55681 %}
<div id="header-block" class="header-block header-custom-retreat-block" style="background-image :url('{{ 'custom-retreat-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
    {% include "scroll_bottom_block" %}
  </div>
</div>
{% elsif page.id == 55682 %}
<div id="header-block" class="header-block header-cancellation-policy-block" style="background-image :url('{{ 'cancellation-policy3-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 37156 %}
<div id="header-block" class="header-block header-calendar-block" style="background-image :url('{{ 'calendar1-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
    {% include "scroll_bottom_block" %}
  </div>
</div>
{% elsif page.title == 'blog' %}
<div id="header-block" class="header-block header-calendar-block" style="background-image :url('{{ 'calendar1-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
    {% include "scroll_bottom_block" %}
  </div>
</div>
{% elsif page.id == 56609 %}
<div id="header-block" class="header-block header-testimonials-block" style="background-image :url('{{ 'testimonials1-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 56868 %}
<div id="header-block" class="header-block header-online-medit-block" style="background-image :url('{{ 'online-yoga-meditation-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 56878 %}
<div id="header-block" class="header-block header-integration-block" style="background-image :url('{{ 'integration-and-embodiment-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% elsif page.id == 57064 %}
<div id="header-block" class="header-video-block"  style="background-image :url('{{ 'blog-all-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% else %}
<div id="header-block" class="header-block header-terms-block" style="background-image :url('{{ 'blog-all-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">{{ page.title }}</h1>
  </div>
</div>
{% endif %}