{% comment %}
blocks with images for background
{% endcomment %}
{% if page.id == 36129 %}
<div class="personal-bg-block">
  <img src="{{ 'personal-bg-block.jpg' | asset_url | img_tag }}" alt="" class="responsify" data-focus-left=".53" data-focus-top=".06" data-focus-right=".71" data-focus-bottom=".45">
</div>
{% elsif page.id == 46908 and id == 1  %}
<div class="img-bg-block exterior-bg-block" style="background-image :url('{{ 'exterior-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 46908 and id == 2  %}
<div class="img-bg-block interior-bg-block" style="background-image :url('{{ 'interior-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 46909 and id == 1  %}
<div class="img-bg-block hero-bg-block" style="background-image :url('{{ 'hero-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 46909 and id == 2  %}
<div class="img-bg-block round-bg-block" style="background-image :url('{{ 'round-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 53265 and id == 1  %}
<div class="img-bg-block purple-bg-block" style="background-image :url('{{ 'mission-purple-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 53265 and id == 2  %}
<div class="img-bg-block sky-bg-block" style="background-image :url('{{ 'mission-sky-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 55677 and id == 1  %}
<div class="img-bg-block private-ceramonies-bg-block" style="background-image :url('{{ 'private-ceremonies-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 55681 and id == 1  %}
<div class="img-bg-block custom-retreat-bg-block" style="background-image :url('{{ 'custom-retreat-bg-block.jpg' | asset_url | img_tag }}')"></div>
{% elsif page.id == 56609 and id == 1  %}
<div class="img-bg-block testimonials-bg-block" style="background-image :url('{{ 'testimonials-block-bg.jpg' | asset_url | img_tag }}')"></div>
{% endif %}