{% include "header_block" %}
{% include "anchors_menu_block" %}
<div id="sentence-yawa-block" class="block-scroll sentence-yawa-block default">
  <div class="container container-retreat">
    <div class="row">
      {{ page.content }}
      <!--<div class="price-block">-->
      <!--<div class="line-label"><span class="label">price</span></div>-->
      <!--<div class="price">-->
      <!--<span class="big">$ 2500.00 /</span>-->
      <!--<span class="down-payment">Down Payment 50% $1100.00</span>-->
      <!--</div>-->
      <!--</div>-->
      <div class="dates-block">
        <div class="line-label"><span class="label">dates</span></div>
        {% include "ready_form_block" %}
      </div>
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div id="recommended-yawa-block" class="recommended-yawa-block" style="background-image :url('{{ 'recommended-you-block-bg.jpg' | asset_url | img_tag }}')">>
  <div class="container-fluid">
    <div class="row">
      <div class="content-block  container-bg">
        <div class="text-block container-retreat">
          <h2 class="title">Recommended for you...</h2>
          <div class="desc">
            <p>...if you are interested to learn about the traditional way of life of the Indigenous people in the Amazon. This trip is designed for people who are willing and able to adapt to local conditions and have reasonable good health. It will be a true adventure. A journey will be an experience devoted to healing, learning, celebrating, singing and embracing the cultural and spiritual way of the Yawanawa in its original and pure form.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="description-yawa-block" class="description-yawa-block">
  <div class="container container-retreat">
    <div class="row">
      <div class="content-block">
        <p class="title-block">We will start this Journey together with a visit to the Mariri Festival, one of the most splendid Indigenous festivals of the Amazon forest.</p>
        <div class="desc">
          <p>For 3 days we will be immersed in the ancient traditions of the Yawanawá. There will be <span class="bold-style"> traditional ceremonies, traditional dances, traditional body paintings, songs, plant medicines</span> and much more. It will be a once in a life time experience to be visiting the Mariri festival!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ready-start-yawa-block" style="background-image :url('{{ 'ready-start-yawa-block-bg.jpg' | asset_url | img_tag }}')">
  <div class="container">
    <div class="row">
      <h2 class="title">Want To learn more about
        the Yawanawa experience?</h2>
      <div class="desc"><p>Read the blog “Dennis’ Journey to the Yawanawa Indians”</p></div>
      <div class="link-more-block">
        <a href="#" class="btn link-more">Read the blog</a>
      </div>
      <p class="text-link"><a href="#">Click HERE</a> if you have any questions</p>
    </div>
  </div>
</div>
<div id="details-yawa-block" class="details-yawa-block">
  <div class="container container-retreat">
    <div class="row">
      <div class="title-block">
        <h2 class="title">Yawanawá Journey Details</h2>
        <div class="termes-block">
          <div class="termes">
            <span class="desc desc-red">Length: <span>12 days</span></span>
          </div>
          <div class="termes">
            <span class="peoples desc-red">Maximum: <span>12 people</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row first-block">
      <p class="sub-title">Your Journey includes</p>
      <div class="list-block">
        <ul class="list">
          <li><p>Trip by van from Tarauacá to Sao Vicente, and the trip from
            Sao Vicente back to Tarauacá</p></li>
          <li><p>Transfer from Sao Vicente to Sete Estrellas and Mutum and
            back ( by boat )</p></li>
          <li><p>1 night in a double room in a hotel in Tarauacá</p></li>
          <li><p>8 nights in a hammock with mosquito net in the Casa do Niipeia
            and 3 nights in a hammock with mosquito net in the village
            of Mutum</p></li>
          <li><p>All meals during the stay in Sete Estrellas  and Mutum (food that
            is eaten by locals: fish, game, red meat, chicken, rice, beans,
            flour, fruits, juice, tapioca, coffee …  It is possible to eat
            vegetarian during your stay)</p></li>
        </ul>
      </div>
      <div class="list-block">
        <ul class="list">
          <li><p>All activities mentioned in the program ( rituals, trips, group
            activities and activities in the village)</p></li>
          <li><p>Hammocks and mosquito nets</p></li>
          <li><p>The use of several natural medicines like Huni, Rapé, and Kampu
            (Kambo). The use of the Sacred Medicines and your
            participation in the Sacred Rituals are optional.</p></li>
          <li><p>Jungle walks to learn and study traditional medicine as well as
            experiencing the animal life in the jungle.</p></li>
          <li><p>Traditional Story Telling</p></li>
          <li><p>Experiencing the traditional life of an indigenous tribe in the
            Amazon Rainforest</p></li>
        </ul>
      </div>
    </div>
    <div class="row second-block">
      <p class="sub-title">Things to care about Before the trip</p>
      <div class="list-block">
        <div class="list-text">
          <p class="bold-style">VISA</p>
          <p>Some of you may need a Tourist Visa to enter Brazil, depending on your passport. If you need a Tourist Visa to enter the country, it is highly recommended that you get one as soon as possible.</p>
        </div>
        <div class="list-text">
          <p class="bold-style">MOSQUITOES</p>
          <p>The mosquito situation in the place where you are going is quite OK.  <span class="under-style">Taking a Vitamin B complex several (2 – 4 weeks) before and during your trip</span> will help you. Apparently Vitamin B makes your skin excrete a certain smell that mosquitoes don’t like so much.  It is recommended that you bring <span class="under-style"> good mosquito repellent.</span></p>
        </div>
      </div>
      <div class="list-block">
        <div class="list-text">
          <p class="bold-style">CLOTHING</p>
          <ul class="list">
            <li><p>Pack light coloured clothes with long sleeves and long pants</p></li>
            <li><p>Natural sunblock and/or a hat</p></li>
            <li><p>A water bottle.</p></li>
            <li><p>A Day Backpack for hikes.</p></li>
          </ul>
        </div>
        <div class="list-text">
          <p class="bold-style">Travel insurance is compulsory</p>
        </div>
        <div class="list-text">
          <p><span class="bold-style">GIFTS TO THE TRIBE</span> (OPTIONAL)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="img-bg-block hero-bg-block" style="background-image :url('{{ 'hero-bg-block.jpg' | asset_url | img_tag }}')"></div>-->
{% include "img_bg_block" with  { enabled: true, id : 1  }  %}
{% include "color_block" %}
<div id="how-maps-block" class="how-maps-yawa-block" >
  <div class="container container-retreat">
    <div class="row">
      <div class="title-block">
        <p class="title">How to Get</p>
      </div>
      <div class="content-block">
        <div class="map-block">
          <div class="map-round">
            <div id="map" class="map"></div>
          </div>
          <a href="#" class="link-map"  style="background-image :url('{{ 'icon-map-anchor.png' | asset_url | img_tag }}')">Google Maps</a>
        </div>
        <div class="text-block">
          <div class="desc">
            <p class="title-info">Which airport to fly into?</p>
            <p>Fly to Rio Branco, RBR (Acre, Brazil) or Cruzeiro do Sul, CZS (Acre, Brazil)</p>
            <p class="title-info">How do I get from my airport to Tarauacá?</p>
            <p><span class="desc-red">This part of your travel you have to organize yourself.</span> It is fairly easy to organize this part of your travel once you have arrived at the airport. You will take a bus, a taxi or a shared taxi to get to Tarauaca.</p>
            <p class="title-info">How long will it take from my airport to get to Tarauacá?</p>
            <p>It will take you 6-8 hours from Rio Branco to Tarauacá and 4-6  hours from Cruzeiro do
              Sul to Tarauacá by bus, taxi or shared taxi.</p>
            <p class="with-link">If you have any questions, <a href="#">click HERE</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="img-bg-block round-bg-block" style="background-image :url('{{ 'round-bg-block.jpg' | asset_url | img_tag }}')"></div>-->
{% include "img_bg_block" with  { enabled: true, id : 2  }  %}
<div id="booking-yawa-policy-block" class="booking-yawa-policy-block">
  <div class="container container-retreat">
    <div class="row">
      <div class="title-block">
        <p class="title">Booking and Cancellation Policy </p>
        <div class="desc"><p>To reserve a spot for this transformational retreat, we ask you to make a deposit of 50% of the retreat price. The other 50% is to be paid in cash upon arrival, or the full amount can be paid upfront. <span class="italy-style">There are no refunds for cancellations made within 60 days before the first day of this retreat.</span></p> </div>
        <div class="desc">
          <p>You can either pay with <span class="bold-style">PayPal</span> or your <span class="bold-style">credit card</span>, using the “Reserve My Spot” button right below.</p>
        </div>
        <div class="desc">
          <p>If you prefer to pay <span class="bold-style">by bank transfer</span> that is also possible.</p>
          <p>Just sign up <a href="#">HERE</a> and we will be happy to send you more details.</p>
        </div>
        <div class="desc">
          <p>More questions about your reservation? <a href="#">Click HERE</a></p>
          <p>Payment Plans & Latin American Locals Discounts are available</p>
        </div>
      </div>
    </div>
    <!--<div class="price-block">-->
    <!--<div class="line-label"><span class="label">price</span></div>-->
    <!--<div class="price">-->
    <!--<span class="big">$ 2500.00 /</span>-->
    <!--<span class="down-payment">Down Payment 50% $1250.00</span>-->
    <!--</div>-->
    <!--<div class="card-block">-->
    <!--<i class="icon na icon-visa"></i>-->
    <!--<i class="icon na icon-mastercard"></i>-->
    <!--<i class="icon na icon-paypal"></i>-->
    <!--</div>-->
    <!--</div>-->
    <div class="dates-block">
      <div class="line-label"><span class="label">dates</span></div>
      {% include "ready_form_block" %}
    </div>
  </div>
</div>