{% include "header_block" %}
{% include "anchors_menu_block" %}
<div id="sentence-block" class="block-scroll sentence-block default">
  <div class="container container-sentence">
    <div class="row">
      {{ page.content }}
      <div class="price-block">
        <div class="line-label"><span class="label">price</span></div>
        <div class="price">
          <span class="big">$ 2,200.- /</span>
          <span class="down-payment">Down Payment 50% $1,100.-</span>
        </div>
      </div>
      <div class="dates-block">
        <div class="line-label"><span class="label">dates</span></div>
        <div class="termes-block">
          <div class="termes">
            <span class="dates">March 19 – 24, 2017</span>
            <span class="desc desc-red">Few places available</span>
          </div>
          <div class="termes">
            <span class="dates">March 26 – 31, 2017</span>
            <span class="desc">Places Available</span>
          </div>
        </div>
        <div class="link-more-block">
          <a href="#" class="btn link-more">Reserve My Spot</a>
        </div>
      </div>
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="recommended-those-block" style="background-image :url('{{ 'recommended-those-block-bg.jpg' | asset_url | img_tag }}')">
  <div class="container-fluid container-bg">
    <div class="row">
      <div class="content-block  container-retreat">
        <h2 class="title">Recommended for those:</h2>
        <div class="desc">
          <p>Looking for a deep and profound transformation in life</p>
          <p>Who don’t know where their life is going to</p>
          <p>Simply looking to go deeper with oneself</p>
          <p>Who are at a crossroads in life</p>
          <p>Looking for Inspiration</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="description-block" class="description-block">
  <div class="container container-retreat">
    <div class="row">
      <div class="content-block">
        <p class="title-block">We are dedicated to our own practices, academic studies and teachings and are able to provide support and guidance during your Journey towards health and full potential. All the tools that will be offered during this retreat will empower you to take steps on this Journey.
        </p>
        <div class="desc">
          <p>The retreat will be held with a small group, so that we can provide all the attention that you may need. During the ceremonies you will be accompanied with music, silence, healings and personal guidance when needed. The team at Sananda – Wasi has the love, care, experience and knowledge to guide you through the deep states this Journey can bring.</p>
          <p>During the day, the Kundalini Yoga, Meditations, Healings and exercises are intended to empower you. The focus and direction of the retreat will be on self-empowerment, healing and personal transformation.</p>
          <p>Join us for this unique experience!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ready-start-sacred-block" style="background-image :url('{{ 'ready-start-sacred-block-bg.jpg' | asset_url | img_tag }}')">
  <div class="container container-retreat">
    <div class="row">
      <h2 class="title">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Join us for this unique experience! Reserve your spot for this
        life-changing retreat right now!</p></div>
      <div class="link-more-block">
        <a href="#" class="btn link-more">Reserve My Spot</a>
      </div>
      <p class="text-link"><a href="#">Click HERE</a> if you have any questions</p>
    </div>
  </div>
</div>
<div id="details-block"  class="details-block">
  <div class="container container-form">
    <div class="row">
      <div class="title-block">
        <h2 class="title">Soma Immersion Details</h2>
        <div class="termes-block">
          <div class="termes">
            <span class="desc desc-red">Length: <span>6 days</span></span>
          </div>
          <div class="termes">
            <span class="peoples desc-red">Maximum: <span>15 people</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list-block col-lg-6 col-xs-12 col-xs-12">
        <p><span class="label-bold">Day 1:</span>  A warm welcome! In the evening we start with a sharing/introduction, followed by the first ceremony: The Sound Journey.</p>
        <p><span class="label-bold">Day 2:</span>  Kundalini Yoga & Meditation, a round of Sharing & Integration & the second ceremony: A Night of Deep Healing.</p>
        <p><span class="label-bold">Day 3:</span>  Kundalini Yoga & Meditation, Sharing & Integration, Rest. Night of Music and Meditation.</p>
        <p><span class="label-bold">Day 4:</span>  We will start the day with a integrative Kundalini Yoga and Meditation class. A round of sharing and integration followed by the third Ceremony: connecting with nature.</p>
        <p><span class="label-bold">Day 5:</span>  Sharing & Integration. Daytime Closing Ceremony, to bring our energies back together, fully grounded in the body. We start the ceremony in a deep way, and will come out of it in celebration of life, in enjoyment of our time and each other.</p>
        <p><span class="label-bold">Day 6:</span>  Sharing & Integration, Closing lunch together.</p>

      </div>
      <div class="list-block col-lg-6 col-xs-12 col-xs-12">
        <p><span class="label-bold">6 days of deep healing and awakening on all levels</span></p>
        <p><span class="label-bold">Accommodation</span> (based upon double room occupancy)</p>
        <p><span class="label-bold">Welcome Circle</span></p>
        <p><span class="label-bold">Sacred Ceremonies</span> (4)</p>
        <p><span class="label-bold">Energy Healing</span> (also during ceremony)</p>
        <p><span class="label-bold">Kundalini Yoga practice</span></p>
        <p><span class="label-bold">Daily sharing and integration circles</span></p>
        <p><span class="label-bold">Delicious organic, local food</span></p>
        <p><span class="label-bold">Sound Healing</span></p>
      </div>
    </div>
  </div>
</div>
<div class="img-bg-block exterior-bg-block" style="background-image :url('{{ 'exterior-bg-block.jpg' | asset_url | img_tag }}')"></div>
<div id="additional-options-block" class="additional-options-block">
  <div class="container container-additional">
    <div class="row">
      <div class="title-block col-lg-12 col-sm-12 col-xs-12 ">
        <h2 class="title">Additional Options</h2>
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Upgrade to a Single Suite</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional charge</p>
              <p class="price">$500/person</p>
            </div>
          </div>
          <div class="desc">
            <p>Spacious suite based bio energy feng shui design consisting of meditation chapel, choice of king size bed or two double with view of the mountain range Tepozteco to 180 degrees.</p>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Upgrade to a Single Master</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional charge</p>
              <p class="price">$900/person</p>
            </div>
          </div>
          <div class="desc">
            <p>Spacious suite based bio energy feng shui design consisting of meditation chapel, choice of king size bed or two double with view of the mountain range Tepozteco to 180 degrees.</p>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Upgrade to a Master Suite</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional charge</p>
              <p class="price">$400/person</p>
            </div>
          </div>
          <div class="desc">
            <p>Spacious suite based bio energy feng shui design consisting of meditation chapel, choice of king size bed or two double with view of the mountain range Tepozteco to 180 degrees.</p>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Single Grand Suite Tlama</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional charge</p>
              <p class="price">$1200/person</p>
            </div>
          </div>
          <div class="desc">
            <p>Totally independent suite based bio energy feng shui design with private terrace, indoor hot tub, king size bed, with view of the mountain range Tepozteco to 180 degrees. </p>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-12 col-sm-12 col-xs-12">
        <div class="treatments-block">
          <div class="title-treatments">
            <h2 class="title">Spa Treatments</h2>
          </div>
          <div class="treatment-block">
            <div class="title-block">
              <div class="option-block">
                <p class="title-option">SIRIO SPA</p>
              </div>
            </div>
            <div class="desc">
              <p>We've created piece of heaven where energy is present in every corner, constantly seeking the balance between mind and body. We will make thst every one of your thoughts provide you with inner peace through body and facial treatments applied by expert hands in a space where rich fragrance of essential oils, soothing music and advanced technology products will wrap you in a environment full of mysticism.</p>
            </div>
          </div>
          <div class="treatment-block middle">
            <div class="title-block">
              <div class="option-block">
                <p class="title-option">Holistic Therapies</p>
              </div>
            </div>
            <div class="desc">
              <p>Share with us this beautiful and magical holistic adventure in this unique place in the world. Reach harmony and inner peace through different disciplines, activities and meditations that will make your stay a special and enjoyable experience.</p>
            </div>
          </div>
          <div class="treatment-block">
            <div class="title-block">
              <div class="option-block">
                <p class="title-option">Day SPA Packadges</p>
              </div>
            </div>
            <div class="desc">
              <p>You just need a few hours to enjoy a quiet moment in the company of a loved one or just alone and enjoy all the benefits of Sirio SPA at Hostal de la Luz.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-img-block">
  <div class="container-fluid">
    <div class="row">
      <div class="img-block"><img src="{{ 'carousel-img-block01.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block02.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block03.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block04.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block05.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block06.jpg' | asset_url | img_tag }}" alt=""></div>
    </div>
  </div>
</div>
{% include "color_block" %}
<div id="how-maps-block"  class="how-maps-block" >
  <div class="container container-retreat">
    <div class="row">
      <div class="title-block">
        <p class="title">How to Get</p>
        <div class="desc">
          <p>Carretera Federal Tepoztlán, Km. 4 S/N Amatlán, Tepoztlán, Morelos, Mexico</p>
        </div>
      </div>
      <div class="content-block">
        <div class="map-block">
          <div class="map-round">
            <div id="map" class="map"></div>
          </div>
          <a href="#" class="link-map"  style="background-image :url('{{ 'icon-map-anchor.png' | asset_url | img_tag }}')">Google Maps</a>
        </div>
        <div class="text-block">
          <div class="desc">
            <p class="title-info">Travel info:</p>
            <p>You can arrive anytime before 3pm on the first day of the retreat. However it’s best to arrive by midday to get to the retreat center before lunch.</p>
            <p>Although transport from airport is not provided, we can help you to set it up. You can also arrive the night before or earlier if you wish. </p>
            <p>You can depart on the last day after lunch.</p>
            <p class="title-info pad-top">Fly in and out of: MEX</p>
            <p>Mexico City International Airport; officially Aeropuerto Internacional Benito Juárez.</p>
            <p class="with-link">If you have any questions, <a href="#">click HERE</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img-bg-block interior-bg-block" style="background-image :url('{{ 'interior-bg-block.jpg' | asset_url | img_tag }}')"></div>
<div id="booking-policy-block" class="booking-policy-block">
  <div class="container container-soma-retreat">
    <div class="row">
      <div class="title-block">
        <p class="title">Booking and Cancellation Policy </p>
        <div class="desc"><p>To reserve a spot for this transformational retreat, we ask you to make a deposit of 50% of the retreat price. The other 50% is to be paid in cash upon arrival, or the full amount can be paid upfront. <span class="italy-style">There are no refunds for cancellations made within 60 days before the first day of this retreat.</span></p>
        </div>
        <div class="desc">
          <p>You can either pay with <span class="bold-style">PayPal</span> or your <span class="bold-style">credit card</span>, using the “Reserve My Spot” button right below.</p>
        </div>
        <div class="desc">
          <p>If you prefer to pay <span class="bold-style">by bank transfer</span> that is also possible.</p>
          <p>Just sign up <a href="#">HERE</a> and we will be happy to send you more details.</p>
        </div>
        <div class="desc">
          <p>More questions about your reservation? <a href="#">Click HERE</a></p>
          <p>Payment Plans & Latin American Locals Discounts are available</p>
        </div>
      </div>
    </div>
    <div class="price-block">
      <div class="line-label"><span class="label">price</span></div>
      <div class="price">
        <span class="big">$ 2,200.- /</span>
        <span class="down-payment">Down Payment 50% $1,100.-</span>
      </div>
      <div class="card-block">
        <i class="icon icon-visa" style="background-image :url('{{ 'icon-visa.png' | asset_url | img_tag }}')"></i>
        <i class="icon icon-mastercard" style="background-image :url('{{ 'icon-mastercard.png' | asset_url | img_tag }}')"></i>
        <i class="icon icon-paypal" style="background-image :url('{{ 'icon-paypal.png' | asset_url | img_tag }}')"></i>
      </div>
    </div>
    <div class="dates-block">
      <div class="line-label"><span class="label">dates</span></div>
      <div class="termes-block">
        <div class="termes">
          <span class="dates">March 19 – 24, 2017</span>
          <span class="desc desc-red">Few places available</span>
        </div>
        <div class="termes">
          <span class="dates">March 26 – 31, 2017</span>
          <span class="desc">Places Available</span>
        </div>
      </div>
      <div class="link-more-block">
        <a href="#" class="btn link-more">Reserve My Spot</a>
      </div>
    </div>
  </div>
</div>