{% include "header_block" %}
<div  class="intro-online-medit-block block-scroll default">
  <div class="container container-normal">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="online-medit-follow-block" style="background-image :url('{{ 'online-yoga-meditation-follow.jpg' | asset_url | img_tag }}')">
  <div class="container container-medit">
    <div class="row">
      <div class="content-block">
        <h2 class="title">Easy to follow video classes for everybody (beginners till experts)</h2>
        <p class="desc-red">Classes are 10 - 70 minuts long</p>
        <p>No driving  •  No parking  •  No stress</p>
        <p>On all of your devices. At any time</p>
        <p class="bold-style">Cheaper then 1 yoga class</p>
        <div class="link-more-block">
          <a href="#" class="btn link-more">Start your 15 day <span class="bold-style">FREE</span> trial</a>
        </div>
      </div>
    </div>
  </div>
  <div class="img-gadget" style="background-image :url('{{ 'online-yoga-medit-gadget.png' | asset_url | img_tag }}')"></div>
</div>
<div class="online-medit-reise-block" style="background-image :url('{{ 'online-yoga-meditation-reise.jpg' | asset_url | img_tag }}')">
  <div class="container-fluid container-bg">
    <div class="row">
      <div class="content-block  container-retreat">
        <h2 class="title">Raise your conciousness and feel more joy, peace and happiness</h2>
        <div class="desc">
          <p>Working with Sacred Ceremony, it can be very helpful to have a nervous system that is strong and balanced. So you can receive the blessings and benefits of those experiences fully, and integrate and embody them into your system and into the biggest ceremony of all: daily life.</p>
        </div>
        <div class="link-more-block">
          <a href="#" class="btn link-more">Start your 15 day <span class="bold-style">FREE</span>  trial!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="desc-online-medit-block">
  <div class="container container-custom">
    <div class="row">
      <div class="content-block">
        <p>In the classes that are offered here I will gently lead you through easy to follow classes. The classes that are taught come from the Kundalini Yoga tradition, an ancient lineage of Yoga that was originated in India
          many centuries before the birth of the Christ. There are many types of yoga in the world. Some types of Yoga are structured as physical workouts. Others put more emphasis on meditation. Kundalini Yoga comes with both. It comes with a focus on consciousness that activates certain energy centers in the body.</p>
        <p>We picture that there is a huge reservoir of energy at the bottom of the spine, laying dormant like a coiled snake. By going into the exercises and meditations you slowly awaken that snake so it can coil up your spine and awaken all your chakras one by one on its way.</p>
      </div>
      <div class="title-block">
        <h2 class="title">Online Yoga & Meditation you can do anywhere</h2>
        <div class="red-title">
          <p>$18/MONTH UNLIMITED</p>
        </div>
        <p>On all your devices including Apple TV</p>
        <p>Growing library of videos</p>
        <p>Cancel anytime</p>
      </div>
    </div>
  </div>
</div>
<div class="online-medit-start-block" style="background-image :url('{{ 'online-yoga-meditation-start.jpg' | asset_url | img_tag }}')">
  <div class="container-fluid container-bg">
    <div class="row">
      <div class="content-block">
        <div class="desc">
          <p>We all want to change the world for the better, but who is ready, willing, and able to change themselves?</p>
          <p>A Daily Spiritual Practice is a master key to unlock that unlimited potential within, and to make the change to become to true you.</p>
        </div>
        <div class="link-more-block">
          <a href="#" class="btn link-more">Start your 15 day <span class="bold-style">FREE</span> trial!</a>
        </div>
      </div>
    </div>
  </div>
</div>