{% include "header_block" %}
{% include "anchors_menu_block" %}
<div id="sentence-block" class="block-scroll sentence-block default">
  <div class="container container-sentence">
    <div class="row">
      {{ page.content }}
      <div class="price-block">
        <div class="line-label"><span class="label">PRICE</span></div>
        <div class="price">
          <span class="big">$ 2,400</span>
          <span class="down-payment">Down Payment 50% $1,200</span>
        </div>
      </div>
      <div class="dates-block">
        <div class="line-label"><span class="label">dates</span></div>
        <div class="termes-block">
          <div class="termes">
            <span class="dates">September 24 – 29, 2017</span>
            <!-- <span class="desc desc-red">Few Spaces Available</span> -->
            <span class="desc">Spaces Available</span>
          </div>
          <div class="termes">
            <span class="dates">October 1 – 6, 2017</span>
            <span class="desc">Spaces Available</span>
          </div>
        </div>
        <div class="link-more-block">
          <a class="btn link-more lightbox-70166155958262" style="margin-top: 16px">Reserve My Space</a>
        </div>
      </div>
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="recommended-those-block" style="background-image :url('{{ 'recommended-those-block-bg.jpg' | asset_url | img_tag }}')">
  <div class="container-fluid container-bg">
    <div class="row">
      <div class="content-block  container-retreat">
        <h2 class="title">Recommended for those:</h2>
        <div class="desc">
          <p>Seeking deep and profound transformation in life</p>
          <p>Who or at a crossroads or don’t know where their life is going</p>
          <p>Looking to go deeper with oneself</p>
          <p>Seeking inspiration</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="description-block" class="description-block">
  <div class="container container-retreat">
    <div class="row">
      <div class="content-block">
        <p class="title-block">We are deeply dedicated to our practices, academic studies and teachings. Using our experience, we will provide support and guidance throughout your Journey towards health and full potential. Each tool that will be offered during this retreat will empower you to take another step on your personal Journey.
        </p>
        <div class="desc">
          <p>All of our retreats are held in small groups, so that we may provide each participant with adequate attention and support. During the ceremonies, you will experience both music and periods of silence, healing, and personal guidance as needed. Our team has the love, care, experience and knowledge to guide you through all of the deep states of consciousness that this Journey may bring. </p>
          <p>During the day, Kundalini yoga, healings, meditation and other exercises are intended to empower you. The focus of the retreat will be on self-empowerment, healing and personal transformation.</p>
          <p>Join us for this unique experience!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ready-start-sacred-block" style="background-image :url('{{ 'ready-start-sacred-block-bg.jpg' | asset_url | img_tag }}')">
  <div class="container container-retreat">
    <div class="row">
      <h2 class="title">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Reserve your space for this life-changing retreat right now!</p></div>
      <div class="link-more-block">
        <a class="btn link-more lightbox-70166155958262" style="margin-top: 16px">Reserve My Space</a>
      </div>
      <p class="text-link"><a href="/pages/connect">Click here</a> if you have any questions</p>
    </div>
  </div>
</div>
<div id="details-block"  class="details-block">
  <div class="container container-form">
    <div class="row">
      <div class="title-block">
        <h2 class="title">Soma Immersion Details</h2>
        <div class="termes-block">
          <div class="termes">
            <span class="desc desc-red">Length:<br /> <span>6 days</span></span>
          </div>
          <div class="termes">
            <span class="peoples desc-red">Maximum Capacity:<br /> <span>15 people</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list-block col-lg-6 col-xs-12 col-xs-12">
        <p><span class="label-bold">Day 1:</span>  - The Sound Journey<br /> We wish you a warm welcome! We will start with introductions and sharing in the evening, followed by our first ceremony.</p>
        <p><span class="label-bold">Day 2:</span>  - A Night of Deep Healing<br /> We begin with Kundalini yoga and meditation, followed by a round of sharing and integration and our second ceremony.</p>
        <p><span class="label-bold">Day 3:</span>  - A Night of Music and Meditation<br />Kundalini yoga and meditation, followed by a night of music and meditation and finally rest.</p>
        <p><span class="label-bold">Day 4:</span>  - Connecting With Nature<br /> We will begin the day with an integrative Kundalini yoga and meditation class, followed by a round of sharing and integration and the third Ceremony.</p>
        <p><span class="label-bold">Day 5:</span>  - Celebration of Life<br /> We begin with sharing and integration, followed by a final daytime closing ceremony to fully ground our energies back into our bodies. We will venture deep in this ceremony, and emerge in celebration of life and enjoyment in our time together.</p>
        <p><span class="label-bold">Day 6:</span>  - Closing Day<br /> A final round of sharing and integration, followed by a closing lunch together.
        </p>

      </div>
      <div class="list-block col-lg-6 col-xs-12 col-xs-12">
        <p><span class="label-bold">Six days of deep healing and awakening on all levels</span></p>
        <p><span class="label-bold">Accommodation</span> (based upon double room occupancy)</p>
        <p><span class="label-bold">Welcome Circle</span></p>
        <p><span class="label-bold">Four Sacred Ceremonies</span></p>
        <p><span class="label-bold">Energy Healing</span> (also during ceremony)</p>
        <p><span class="label-bold">Kundalini Yoga practice</span></p>
        <p><span class="label-bold">Daily sharing and integration circles</span></p>
        <p><span class="label-bold">Delicious organic, local food</span></p>
        <p><span class="label-bold">Sound Healing</span></p>
      </div>
    </div>
  </div>
</div>
{% include "img_bg_block" with  { enabled: true, id : 1  }  %}
<div id="additional-options-block" class="additional-options-block">
  <div class="container container-additional">
    <div class="row">
      <div class="title-block col-lg-12 col-sm-12 col-xs-12 ">
        <h2 class="title">Additional Options</h2>
      </div>
      <div class="desc">
        <p class="desc">A standard suite consists of a shared bedroom with your choice of a king sized bed or two single beds, a private bathroom, terrace and air conditioning. Maximum occupancy: 2 guests.</p>
        <br />
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Master Suite</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional</p>
              <p class="price">$400/person</p>
            </div>
          </div>
          <div class="desc">
            <p>A more spacious suite consisting of a shared bedroom with your choice of a king sized bed or two double beds, a private bathroom, terrace, air conditioning, and meditation room oratory against the mountains. Maximum occupancy: 2 guests.</p>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Single Suite</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional</p>
              <p class="price">$500/person</p>
            </div>
          </div>
          <div class="desc">
            <p>A private suite consisting of a private bedroom with your choice of a king sized bed or two double beds, a private bathroom, terrace and air conditioning. Maximum occupancy: 2 guests.</p><br />
          </div>
        </div>
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Single Master</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional</p>
              <p class="price">$900/person</p>
            </div>
          </div>
          <div class="desc">
            <p>A more spacious private suite consisting of a private bedroom with your choice of a king sized bed or two double beds, a private bathroom, terrace, air conditioning, and meditation room oratory against the mountains. Maximum occupancy: 2 guests.</p>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-6 col-sm-6 col-xs-12">
        <div class="item-block">
          <div class="text-block">
            <div class="option-block">
              <p class="title-option">Grand Suite Tlama</p>
            </div>
            <div class="price-block">
              <p class="additional-desc">additional</p>
              <p class="price">$1200/person</p>
            </div>
          </div>
          <div class="desc">
            <p>Our most luxurious private suite consisting of a private bedroom with a king sized bed, private bathroom, terrace, air conditioning and indoor hot tub. Maximum occupancy: 2 guests.</p>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-12 col-sm-12 col-xs-12">
        <div class="treatments-block">
          <div class="title-treatments">
            <h2 class="title">Spa Treatments</h2>
          </div>
          <div class="treatment-block">
            <div class="title-block">
              <div class="option-block">
                <p class="title-option">Sirio Spa</p>
              </div>
            </div>
            <div class="desc">
              <p>Sirio Spa is a piece of heaven. Here, energy is present in every corner to assist you in balancing your mind and body. With the help of our experts in advanced body and facial treatments, this space will provide you with total inner harmony. Soothing music, rich, fragrant essential oils, and advanced skin care products will allow you to unwind and surrender to peace.</p>
            </div>
          </div>
          <div class="treatment-block middle">
            <div class="title-block">
              <div class="option-block">
                <p class="title-option">Holistic Therapies</p>
              </div>
            </div>
            <div class="desc">
              <p>Enjoy unique holistic therapies in one of the most beautiful places in the world. We offer various activities, such as meditation, that will help you to reach the harmony and inner peace that will make your stay a special experience.</p>
            </div>
          </div>
          <div class="treatment-block">
            <div class="title-block">
              <div class="option-block">
                <p class="title-option">Daily Spa Packages</p>
              </div>
            </div>
            <div class="desc">
              <p>Need a few hours each day to enjoy the quiet company of a loved one or some time alone? Enjoy all of the benefits of Sirio Spa at Hostal de la Luz with one of their spa packages.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-img-block">
  <div class="container-fluid">
    <div class="row">
      <div class="img-block"><img src="{{ 'carousel-img-block01.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block02.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block03.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block04.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block05.jpg' | asset_url | img_tag }}" alt=""></div>
      <div class="img-block"><img src="{{ 'carousel-img-block06.jpg' | asset_url | img_tag }}" alt=""></div>
    </div>
  </div>
</div>
{% include "color_block" %}
<div id="how-maps-block"  class="how-maps-block" >
  <div class="container container-retreat">
    <div class="row">
      <div class="title-block">
        <p class="title">Travel Information</p>
        <div class="desc">
          <p>Hostal de la Luz</p><br />
          <p>Carretera Federal Tepoztlán Km. 4 S/N, </p><br />
          <p>Amatlán Tepoztlán, Morelos, 01330, Mexico</p>
        </div>
      </div>
      <div class="content-block">
        <div class="map-block">
          <div class="map-round">
            <div id="map" class="map"></div>
          </div>
          <a href="#" class="link-map"  style="background-image :url('{{ 'icon-map-anchor.png' | asset_url | img_tag }}')">Google Maps</a>
        </div>
        <div class="text-block">
          <div class="desc">
            <p>You may arrive any time before 3pm on the first day of the retreat, however, it is best to arrive by midday in order to receive lunch.</p>
            <p>Transportation from the airport is not provided, but we can assist you in organizing your own. You can also reserve additional nights before the retreat, if you wish. You may depart on the last day of the retreat, after lunch.</p>
            <p class="title-info pad-top">Recommended Airport:</p>
            <p>Mexico City International Airport (MEX) </p>
            <p class="italy-style">Officially known as Aeropuerto Internacional Benito Juárez</p>
            <p>If you have any more questions regarding travel information, click <a href="/pages/connect">here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "img_bg_block" with  { enabled: true, id : 2  }  %}
<div id="booking-policy-block" class="booking-policy-block">
  <div class="container container-soma-retreat">
    <div class="row">
      <div class="title-block">
        <p class="title">Booking and Cancellation Policy </p>
        <div class="desc"><p>To reserve a space for this transformational retreat, we ask that you make an initial deposit of at least 50% of the retreat price. The other 50% is to be paid in cash upon arrival. Alternatively, you may pay the full price of the retreat upfront. <span class="italy-style">No refunds will be given for cancellations made less than 60 days from the first day of your private ceremony.</span></p>
        </div>
        <div class="desc">
          <p>You may either pay with <span class="bold-style">PayPal</span> or your <span class="bold-style">credit card</span>, using the “Reserve My Space” button below.</p>
        </div>
        <div class="desc">
          <p>You may also pay via <span class="bold-style">bank transfer</span> if you prefer.</p>
          <p>Please contact us <a href="#">here</a> and we will be happy to send you more details.</p>
        </div>
        <div class="desc">
          <p>Have any more questions regarding your reservation? Click <a href="/pages/connect">here</a>.</p>
          <p class="italy-style">Payment plans & local Latin American discounts are available upon request. </p>
        </div>
      </div>
    </div>
    <div class="price-block">
      <div class="line-label"><span class="label">price</span></div>
      <div class="price">
        <span class="big">$ 2,400 /</span>
        <span class="down-payment">Down Payment 50% $1,200</span>
      </div>
      <div class="card-block">
        <i class="icon icon-visa" style="background-image :url('{{ 'icon-visa.png' | asset_url | img_tag }}')"></i>
        <i class="icon icon-mastercard" style="background-image :url('{{ 'icon-mastercard.png' | asset_url | img_tag }}')"></i>
        <i class="icon icon-paypal" style="background-image :url('{{ 'icon-paypal.png' | asset_url | img_tag }}')"></i>
      </div>
    </div>
    <div class="dates-block">
      <div class="line-label"><span class="label">dates</span></div>
      <div class="termes-block">
        <div class="termes">
          <span class="dates">September 24 - 29, 2017</span>
          <span class="desc">Places available</span>
          <!-- <span class="desc desc-red">Few Spaces Available</span> -->
        </div>
        <div class="termes">
          <span class="dates">October 1 - 6, 2017</span>
          <span class="desc">Places Available</span>
        </div>
      </div>
      <div class="link-more-block">
        <a class="btn link-more lightbox-70166155958262" style="margin-top: 16px">Reserve My Space</a>
      </div>
    </div>
  </div>
</div>
<script src="https://form.jotform.ca/static/feedback2.js" type="text/javascript">
  var JFL_70166155958262 = new JotformFeedback({
    formId: '70166155958262',
    base: 'https://form.jotform.ca/',
    windowTitle: 'Reserve My Space',
    background: '#b4634f',
    fontColor: '#FFFFFF',
    type: 'false',
    height: 500,
    width: 700,
    openOnLoad: false
  }); </script>
