{% include "header_block" %}
{% include "anchors_menu_block" %}
<div id="intro-block" class="block-scroll intro-private-ceramonies-block default">
  <div class="container container-sentence">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div id="option-block" class="private-ceramonies-options-block" style="background-image :url('{{ 'private-ceramonies-options.jpg' | asset_url | img_tag }}')">
  <div class="container-fluid container-bg">
    <div class="row">
      <div class="content-block  container-retreat">
        <h2 class="title">Private Ceremony Options</h2>
        <div class="row">
          <div class="option">
            <div class="img-block">
              <img src="{{'icon-priv-ceram-corporate.png' | asset_url | img_tag }}" alt="Corporate sessions">
            </div>
            <p>Corporate sessions</p>
          </div>
          <div class="option">
            <div class="img-block">
              <img src="{{'icon-priv-ceram-at-home.png' | asset_url | img_tag }}" alt="At-home sessions">
            </div>
            <p>At-home sessions</p>
          </div>
          <div class="option">
            <div class="img-block">
              <img src="{{'icon-priv-ceram-group.png' | asset_url | img_tag }}" alt="Group sessions">
            </div>
            <p>Group sessions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="components-rates-block" class="components-private-ceramonies-block">
  <div class="container container-private-ceramonies">
    <div class="row first-block">
      <div class="title-block">
        <h2 class="title">We hold private ceremonies with a minimum of 2 consecutive ceremonies.</h2>
      </div>
      <div class="content-block">
        <div class="desc">
          <p>Going into Sacred Ceremony can be a very beautiful and deep process, allowing you to connect deeper within yourself, your heart, your soul and all that is. In my experience in the last years, seeing many people go through the process of Sacred Ceremony, I learned that it is not always supportive to give somebody a deep experience in 1 night and then send them home.</p>
          <p>If you come from your daily life, with a busy mind, the stress, the travel, the organization, and dive right into a deep ceremony, that can be very disorientating experience. I decided to stop offering only 1 Sacred Ceremony to people. It is just not supportive in my view and experience in working with Sacred Ceremony. We hold private ceremonies with a minimum of 2 consecutive ceremonies.</p>
          <p>We will start with a first Ceremony that is on the gentle side. Will you feel the power of Sacred Ceremony during that night? Yes you will. It will be gentle, allowing you and your body to relax, your mind to calm down from daily chatter, and your heart to open for time to come. After that first night there will be much more trust, on levels conscious and unconscious to you.</p>
          <p>That will be an excellent preparation for the second Sacred Ceremony the following day. It will allow for a night that can be more profound. What does going deeper in Sacred Ceremony mean? To go deeper means that you can visit deeper layers of self and consciousness. There are several layers of consciousness that can be accessible in Sacred Ceremony. To reach those layers takes time, trust and the right guidance.</p>
          <p>There is the possibility to add a 3rd ceremony as well (optional). Having gone deeper during the second night, the 3rd ceremony, which can be done during the day depending on setting and location, will allow us to start deep, and then to come out in celebration. In that ceremony we might move a bit, and use our bodies to do some yoga or dance.  Moving your body really helps your to come back into your body, to come back into this reality, preparing you to go back into the biggest ceremony of all: daily life.</p>
          <p>In these times, in the Western world, we are used to have everything quick, fast, strong, now, deep. Spiritual work doesn’t happen that way; it takes time for your system to slow down and to relax. When the body is more relaxed it can receive in ways that might not have seen possible before.</p>
          <p>We will be there for you in any way we can during your private ceremonies.</p>
          <p>Guiding you on the Journey back home…</p>
        </div>
      </div>
    </div>
    <div class="row second-block">
      <div class="content-block">
        <p class="sub-title">Some ingredients for our private ceremonies</p>
        <div class="list-block">
          <ul class="list">
            <li><p>Small and intimate Sacred Ceremonies just
              for you and people that you choose</p></li>
            <li><p>A lot of personal time with us, in that time we
              will be there for you in any way we can.</p></li>
            <li><p>Complete confidentiality</p></li>
            <li><p>Private Yoga & Meditation Classes</p></li>
            <li><p>Rounds of Sharing and Integration</p></li>
          </ul>
        </div>
        <div class="list-block">
          <ul class="list">
            <li><p>Private Ceremonies can be held at your
              home, a special location of choice and, in
              some occasions, at our home in Ojai,
              California  </p></li>
            <li><p>We can provide delicious and healthy meals</p></li>
            <li><p>Teachings on various spiritual subjects</p></li>
            <li><p>Sound healing</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row third-block">
      <p class="sub-title">Rates</p>
      <div class="desc">
        <p>The costs for a private ceremony depends on many factors. Please contact us for more information. We are open to travel for private ceremonies when the situation is right.</p>
        <p class="n-padding"><span class="bold-style italy-style">Is a private ceremony nothing for you?</span> Then come to one of our scheduled retreats.</p>
        <p>See our <a href="#">Retreat Calendar</a> to learn more about our dates.</p>
      </div>
    </div>
  </div>
</div>
{% include "img_bg_block" with  { enabled: true, id : 1  }  %}
{% include "ready_form_block" %}
<div id="reservation-and-cancellation" class="desc-private-ceramonies-block">
  <div class="container container-custom-retreat">
    <div class="row">
      <div class="title-block">
        <h2 class="title">Reservation and Cancellation:</h2>
      </div>
      <div class="content-block">
        <p>We hold private ceremonies with a minimum of 2 consecutive ceremonies. To reserve a private ceremony, we ask you to make a deposit of 50% 8 weeks in advance. The other 50% is to be paid in cash upon arrival, or the full amount can be paid upfront.</p>
        <p>If you cancel or change any part of your reservation at least 60 days before the first day of your private ceremony,
          a $ 75,—per-person processing fee will be charged and the remaining balance will be refunded. </p>
        <p>There are no refunds for cancellations made within 60 days before the first day of a private ceremony.</p>

        <p class="n-padding">SacredJourney.Earth reserves the right to cancel any private ceremony at any time. If your private ceremony is canceled, we will notify you and offer you the following options:</p>
        <p class="n-padding">•  You may receive a full refund</p>
        <p>•  Subject to availability, you may transfer your private retreat to another period</p>
      </div>
    </div>
  </div>
</div>

