{% comment %}
ready-form-block for several pages
{% endcomment %}
{% if page.id == 28920 %}
{% comment %}
<div class="ready-form ready-form-connect-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <form class="yawanawa-form jotform-form" action="https://submit.jotform.ca/submit/70726609141252/" method="post" name="form_70726609141252" id="70726609141252" accept-charset="utf-8"> <input type="hidden" name="formID" value="70726609141252" />
        <div class="form-item-pair">
          <div id="cid_5" class="form-item">
            <input type="text" id="input_5" name="q5_input5" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Your Name" data-component="textbox" />
          </div>
          <div id="cid_4" class="form-item">
            <input type="email" id="input_4" name="q4_input4" class="form-textbox validate[Email]" size="30" value="" placeholder="Your Email" data-component="email" />
          </div>
        </div>
        <div id="cid_2" class="form-actions">
          <button id="input_2" type="submit" class="btn form-submit-button" data-component="button"> Sign Up </button>
        </div>
        <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70726609141252" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70726609141252-70726609141252"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
    </div>
  </div>
</div>
{% endcomment %}
{% elsif page.id == 28532 %}
<div class="ready-form ready-terms-form-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <!--<script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>-->
      <form class="yawanawa-form jotform-form" action="https://submit.jotform.ca/submit/70726609141252/" method="post" name="form_70726609141252" id="70726609141252" accept-charset="utf-8"> <input type="hidden" name="formID" value="70726609141252" />
        <div class="form-item-pair">
          <div id="cid_5" class="form-item">
            <input type="text" id="input_5" name="q5_input5" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Your Name" data-component="textbox" />
          </div>
          <div id="cid_4" class="form-item">
            <input type="email" id="input_4" name="q4_input4" class="form-textbox validate[Email]" size="30" value="" placeholder="Your Email" data-component="email" />
          </div>
        </div>
        <div id="cid_2" class="form-actions">
          <button id="input_2" type="submit" class="btn form-submit-button" data-component="button"> Sign Up </button>
        </div>
        <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70726609141252" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70726609141252-70726609141252"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
    </div>
  </div>
</div>
{% elsif page.id == 53265 %}
<div class="ready-form ready-form-mission-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <form class="yawanawa-form jotform-form" action="https://submit.jotform.ca/submit/70726609141252/" method="post" name="form_70726609141252" id="70726609141252" accept-charset="utf-8"> <input type="hidden" name="formID" value="70726609141252" />
        <div class="form-item-pair">
          <div id="cid_5" class="form-item">
            <input type="text" id="input_5" name="q5_input5" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Your Name" data-component="textbox" />
          </div>
          <div id="cid_4" class="form-item">
            <input type="email" id="input_4" name="q4_input4" class="form-textbox validate[Email]" size="30" value="" placeholder="Your Email" data-component="email" />
          </div>
        </div>
        <div id="cid_2" class="form-actions">
          <button id="input_2" type="submit" class="btn form-submit-button" data-component="button"> Sign Up </button>
        </div>
        <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70726609141252" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70726609141252-70726609141252"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
    </div>
  </div>
</div>
{% elsif page.id == 53266 %}
<div class="ready-form-meds-block">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Want to read more?</h2>
      <div class="desc"><p>Subscribe to our mailing list, and hear about the latest posts. </p></div>
      <form class="yawanawa-form jotform-form" action="https://submit.jotform.ca/submit/70726609141252/" method="post" name="form_70726609141252" id="70726609141252" accept-charset="utf-8"> <input type="hidden" name="formID" value="70726609141252" />
        <div class="form-item-pair">
          <div id="cid_5" class="form-item">
            <input type="text" id="input_5" name="q5_input5" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Your Name" data-component="textbox" />
          </div>
          <div id="cid_4" class="form-item">
            <input type="email" id="input_4" name="q4_input4" class="form-textbox validate[Email]" size="30" value="" placeholder="Your Email" data-component="email" />
          </div>
        </div>
        <div id="cid_2" class="form-actions">
          <button id="input_2" type="submit" class="btn form-submit-button" data-component="button"> Sign Up </button>
        </div>
        <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70726609141252" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70726609141252-70726609141252"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
    </div>
  </div>
</div>
{% elsif page.id == 55677 %}
<div  class="components-custom-connect-block">
  <div class="container container-connect">
    <div class="row">
      <div class="title-block">
        <div class="desc"><p>Contact us at  <a href="mailto:mail@sacredjourney.earth">mail@sacredjourney.earth</a> for more information.</p>
          <p>SacredJourney.Earth keeps your customized retreat completely confidential. </p>
        </div>
      </div>
      <div class="form-block">
        <div class="line-label"></div>
        <form class="yawanawa-form form-grey" action="#">
          <div class="col-form col-form-left">
            <div class="form-item">
              <input type="text" name="first-name" id="first-name" placeholder="First name">
            </div>
            <div class="form-item">
              <input type="text" name="last-name" id="last-name" placeholder="Last name">
            </div>
            <div class="form-item">
              <input type="email" name="email" id="email" placeholder="Email">
            </div>
          </div>
          <div class="col-form col-form-right">
            <div class="form-item">
              <input type="text" name="subject" id="subject" placeholder="Subject">
            </div>
            <div class="form-item">
              <textarea type="textarea" name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="form-actions">
              <button  class="btn link-more">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% elsif page.id == 55681 %}
<div class="components-custom-connect-block">
  <div class="container container-connect">
    <div class="row">
      <div class="title-block">
        <div class="desc"><p>Contact us at  <a href="mailto:mail@sacredjourney.earth">mail@sacredjourney.earth</a> for more information.</p>
          <p>SacredJourney.Earth keeps your customized retreat completely confidential. </p>
        </div>
      </div>
      <div class="form-block">
        <div class="line-label"></div>
        <form class="yawanawa-form form-grey" action="#">
          <div class="col-form col-form-left">
            <div class="form-item">
              <input type="text" name="first-name" id="first-name" placeholder="First name">
            </div>
            <div class="form-item">
              <input type="text" name="last-name" id="last-name" placeholder="Last name">
            </div>
            <div class="form-item">
              <input type="email" name="email" id="email" placeholder="Email">
            </div>
          </div>
          <div class="col-form col-form-right">
            <div class="form-item">
              <input type="text" name="subject" id="subject" placeholder="Subject">
            </div>
            <div class="form-item">
              <textarea type="textarea" name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="form-actions">
              <button  class="btn link-more">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% elsif page.id == 55682 %}
<div class="ready-form ready-form-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>
    </div>
  </div>
</div>
{% elsif page.id == 37156 %}
<div class="sentence-connect-block calendar-connect-block">
  <div class="container container-connect">
    <div class="row">
      <div class="title-block">
        <h2 class="title">Connect</h2>
        <div class="desc"><p>Feel free to write me a message here, or email me at  <a href="mailto:dennis@sacredjourney.earth">dennis@sacredjourney.earth</a></p>
          <p>I look forward to hearing from you!</p>
        </div>
      </div>
      <div class="form-block">
        <div class="line-label"></div>
        <form class="yawanawa-form form-grey" action="#">
          <div class="col-form col-form-left">
            <div class="form-item">
              <input type="text" name="first-name" id="first-name" placeholder="First name">
            </div>
            <div class="form-item">
              <input type="text" name="last-name" id="last-name" placeholder="Last name">
            </div>
            <div class="form-item">
              <input type="email" name="email" id="email" placeholder="Email">
            </div>
          </div>
          <div class="col-form col-form-right">
            <div class="form-item">
              <input type="text" name="subject" id="subject" placeholder="Subject">
            </div>
            <div class="form-item">
              <textarea type="textarea" name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="form-actions">
              <button  class="btn link-more">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% comment %}
<div class="ready-form ready-form-block calendar-form">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Want to keep informed about our upcoming Journeys?</h2>
      <div class="desc"><p>Sign up for our newsletter. We keep your email private.</p></div>
      <!--<form class="yawanawa-form" action="#">-->
      <!--<div class="form-item-pair">-->
      <!--<div class="form-item">-->
      <!--<input type="text" name="search" id="upload" placeholder="Your name">-->
      <!--</div>-->
      <!--<div class="form-item">-->
      <!--<input type="text" name="search" id="upload" placeholder="Your email">-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="form-actions">-->
      <!--<button  class="btn">Sign Up</button>-->
      <!--</div>-->
      <!--</form>-->
      <script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>
    </div>
  </div>
</div>
{% endcomment %}
{% elsif page.id == 46909 %}
<form class="yawanawa-form form-grey jotform-form" action="https://submit.jotform.ca/submit/70726609141252/" method="post" name="form_70726609141252" id="70726609141252" accept-charset="utf-8"> <input type="hidden" name="formID" value="70726609141252" />
  <p class="desc-red">At the moment we do not have a Journey planned, stay tuned for new dates!</p>
  <div class="form-item-pair">
    <div id="cid_5" class="form-item">
      <input type="text" id="input_5" name="q5_input5" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Your Name" data-component="textbox" />
    </div>
    <div id="cid_4" class="form-item">
      <input type="email" id="input_4" name="q4_input4" class="form-textbox validate[Email]" size="30" value="" placeholder="Your Email" data-component="email" />
    </div>
  </div>
  <div id="cid_2" class="form-actions">
    <button id="input_2" type="submit" class="btn link-more form-submit-button" data-component="button"> Sign Up for Updates </button>
  </div>
  <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
  <script> JotForm.showJotFormPowered = true; </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="70726609141252" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70726609141252-70726609141252"; </script>
</form>
<script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
{% else %}
<div class="ready-form ready-terms-form-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <form class="yawanawa-form jotform-form" action="https://submit.jotform.ca/submit/70726609141252/" method="post" name="form_70726609141252" id="70726609141252" accept-charset="utf-8"> <input type="hidden" name="formID" value="70726609141252" />
        <div class="form-item-pair">
          <div id="cid_5" class="form-item">
            <input type="text" id="input_5" name="q5_input5" data-type="input-textbox" class="form-textbox" size="20" value="" placeholder="Your Name" data-component="textbox" />
          </div>
          <div id="cid_4" class="form-item">
            <input type="email" id="input_4" name="q4_input4" class="form-textbox validate[Email]" size="30" value="" placeholder="Your Email" data-component="email" />
          </div>
        </div>
        <div id="cid_2" class="form-actions">
          <button id="input_2" type="submit" class="btn form-submit-button" data-component="button"> Sign Up </button>
        </div>
        <div style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </div>
        <script> JotForm.showJotFormPowered = true; </script>
        <input type="hidden" id="simple_spc" name="simple_spc" value="70726609141252" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "70726609141252-70726609141252"; </script>
      </form>
      <script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.forwardToEu=true;</script>
    </div>
  </div>
</div>
{% endif %}