<div class="scroll-bottom-block">
  {% if page.id == 36129 %}
  <a class="scroll-bottom page-scroll" href="#intro-personal-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
  {% elsif page.id == 46908 %}
  <a class="scroll-bottom page-scroll" href="#how-maps-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
  {% elsif page.id == 46909 %}
  <a class="scroll-bottom page-scroll" href="#sentence-yawa-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
  {% elsif page.id == 55677 %}
  <a class="scroll-bottom page-scroll" href="#intro-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
  {% elsif page.id == 55681 %}
  <a class="scroll-bottom page-scroll" href="#intro-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
  {% elsif page.id == 37156 %}
  <a class="scroll-bottom page-scroll" href="#intro-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
  {% endif %}
</div>